/*多选*/
.checkbox .icon-checkbox {
	background: url(http://img03.taobaocdn.com/tps/i3/T1bVmyXx8fXXc7sK2X-15-50.gif) no-repeat 0 0;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 15px;
	line-height: 0;
	overflow: hidden;
	vertical-align: middle;
	width: 15px;
}
.checkbox-checked .icon-checkbox {
	background-position: 0 -36px;
}
/*多选 end*/
#etao-nav, #etao-header, #etao-nav #etao-nav-bd, #etao-header #etao-header-bd, .esrp-content, #etao-footer {
margin: 0 auto;
width: 985px;
}
#etao-footer{
    min-width: 765px;
}

.noinfo_Mcontent .noinfo_McontentL .noinfo_other dl dd.act,.noinfo_Mcontent .noinfo_McontentR .L_bg .Ltitle,
.redline,.micro_menu ul li.menuline,.micro_menu ul li.act_bg,
.left_ci h2,.micro .Right .Right_L div.Ltitle,.micro .Right .Right_L div.Ltitle samp,
.micro .Right .Right_R div.Ltitle,.quality .factorytitle,
.quality dl,.Mcontent .McontentL .ML_bg .Ltitle,.hot_e,.new_e,
.Mcontent .McontentR .RLcontent_L .RLtitle,
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle,
.Mcontent .Rcontent .Rcontent_border .Rcontent_title,
.Mcontent .McontentL .ML_bg dl.Filters dt,
.Mcontent .Rcontent div.areasprice .Rcontent_title,
.sort_list_a h2
{background:url(../images/xk_bg.png);background-repeat:no-repeat;}

.main_mini{width:980px;margin:5px auto;padding:0;font-size:12px;line-height:20px;clear:both;}

div.location{width:980px;margin:0px auto 5px;height:auto;clear:both;}
div.location span{display:inline-block;margin:0 5px;}
div.location h1{display:inline;margin:0 5px;color:#039;}

/*图片 资讯 简介 S*/
.micro{width:980px;margin:0 auto;height:auto;}

.left_ci{width:234px;float:left;height:auto;}
.left_ci h2{width:232px;height:34px;background-position:0 -33px;line-height:34px;background-repeat:repeat-x;border:1px solid #CADCF0;font-weight:bold;}
.left_ci h2 strong{padding:0 0px;}
.left_ci h2 div.tt_tleft{color:#333;font-size:14px;margin-left:6px;float:left;display:block;width:155px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.mod-aside .content {
	background-color: #FBFBFB;
	border: 1px solid #CADCF0;
	border-top: 0;
	border-bottom-color: #CADCF0;
	padding-bottom: 10px;
}
/*
.micro .Right{float:right;width:734px;height:329px;}
.micro .Right .Right_L{float:left;width:514px;height:329px;}
.micro .Right .Right_R{float:right;width:207px;height:329px;}
.micro .Right .Right_L div.Ltitle{float:left;width:514px;background-position:0 -33px;background-repeat:repeat-x;height:34px;margin:0 auto;padding:0;line-height:34px;border:1px solid #CADCF0;overflow:hidden;}
.micro .Right .Right_L div.Ltitle samp{width:8px;height:14px;display:inline-block;background-position:0 -70px;margin:10px 0 0 10px;float:left;overflow:hidden;}
.micro .Right .Right_L div.Ltitle h2{float:left;margin-left:6px;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;font-weight:bold;width:430px;}
.micro .Right .Right_L div.Ltitle h2 strong{padding:0 0 0 0px;font-weight:bold;}
.micro .Right .Right_L div.Ltitle h2 a:link,.micro .Right .Right_L div.Ltitle h2 a:visited,.micro .Right .Right_L div.Ltitle h2 a:active{color:#333;text-decoration:none;}
.micro .Right .Right_L div.Ltitle h2 a:hover{color:#f00;text-decoration:none;}
.micro .Right .Right_L div.Ltitle span{display:inline-block;width:45px;float:right;}
.micro .Right .Right_L div.Ltitle span a.more{display:inline-block;overflow:hidden;float:left;text-align:right;}
.micro .Right .Right_L div.Ltitle span a.more:link,.micro .Right .Right_L div.Ltitle span a.more:visited,.micro .Right .Right_L div.Ltitle span a.more:active{color:#039;text-decoration:none;}
.micro .Right .Right_L div.Ltitle span a.more:hover{color:#f00;text-decoration:none;}
.micro .Right .Right_L .Right_L_content{clear:both;width:514px;margin:0 auto;padding:0;height:292px;}
.micro .Right .Right_L .Right_L_content a:link,.micro .Right .Right_L .Right_L_content a:visited,.micro .Right .Right_L .Right_L_content a:active{ color:#039; text-decoration:none;}
.micro .Right .Right_L .Right_L_content a:hover{color:#e61001; text-decoration:none;}
.micro .Right .Right_L .Right_L_content h4{width:514px;font-size:16px;text-align:center;height:35px;line-height:50px;font-weight:bold;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.micro .Right .Right_L .Right_L_content p{width:494px;margin:5px 0;padding:0 10px;line-height:22px;text-indent:24px;font-size:14px;}
.micro .Right .Right_L .Right_L_content ul{width:494px;margin:0 auto;padding:10px 10px 0 10px;float:left;}
.micro .Right .Right_L .Right_L_content li{width:494px;height:27px;font-size:14px;line-height:24px;float:left;overflow:hidden;}
.micro .Right .Right_R div.Ltitle{width:205px;background-position:0 -33px;background-repeat:repeat-x;height:34px;line-height:34px;padding:0;border:1px solid #CADCF0;}
.micro .Right .Right_R div.Ltitle h2{font-size:14px;color:#333;font-weight:bold;width:175px;float:left;margin-left:6px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.micro .Right .Right_R div.Ltitle h2 strong{padding:0 0 0 0px;font-weight:bold;}
.micro .Right .Right_R div.Ltitle h2 a:link,.micro .Right .Right_R div.Ltitle h2 a:visited,.micro .Right .Right_R div.Ltitle h2 a:active{color:#333;text-decoration:none;}
.micro .Right .Right_R div.Ltitle h2 a:hover{color:#f00;text-decoration:none;}
.micro .Right .Right_R div.Right_R_content{width:205px;height:291px;border:solid 1px #CADCF0;border-top:none;margin:0 auto;padding:0;color:#666;}
.micro .Right .Right_R p{clear:both;width:190px;height:260px;margin:0px auto;padding:10px 0 0 0;line-height:22px;text-indent:24px;overflow:hidden;}
.micro .Right .Right_R p a:link,.micro .Right .Right_R p a:visited{text-decoration:none;color:#039;}
.micro .Right .Right_R p a:hover{text-decoration:none;color:#f00;}*/
/*图片 资讯 简介 E*/
/*图片展示区 S*/
.picshow{float:left;width:980px;margin:10px auto 5px auto;height:auto;}
.picshow ul{clear:both;width:980px;margin:0 auto;height:auto;}
.picshow li{float:left;width:180px;height:240px;margin-bottom:5px;margin-right:-30px;padding: 20px 25px 15px 15px;overflow:hidden;}
.picshow li .box180{display:table-cell;vertical-align:middle;text-align:center;*display: block;*font-size:157.14px;*font-family:Arial;width:180px;height:180px;border:1px solid #d8d8d8;}
.picshow li .box180 img{vertical-align:middle;}
.picshow li span{width:180px;margin:2px auto 0px;padding:0; text-align:left;float:left;clear:both;}
.picshow li.end{width:180px;float:right;}
.picshow a:link,.picshow a:visited,.picshow a:active{color:#039;text-decoration:none;}
.picshow a:hover{color:#f00;text-decoration:none;}

.griditem h2 {
display: block;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.specialkey1 {
overflow: hidden;
border-top: 1px solid #DEDEDE;
padding: 10px 10px 0;
margin-bottom: 15px;
width: 980px;
#max-height: 52px;
}

.specialkey1 dt {
float: left;
width: 89px;
color: #606060;
display: block;
}

.specialkey1 dd {
float: left;
width: 871px;
}
.specialkey1 dd a {
float: left;
height: 18px;
margin-bottom: 8px;
overflow: hidden;
margin-right: 30px;
text-decoration: none;
}

/*图片展示区 E*/
/*优质加热器厂商 S*/
.quality{width:978px;margin:5px auto 10px auto;_margin:0 auto 10px auto;padding:0px 0px 10px 0;height:auto;border:1px solid #CADCF0;float:left;}
.quality .factorytitle{width:978px;height:34px;line-height:34px;border-bottom:solid 1px #CADCF0;background-position:-0 -33px;background-repeat:repeat-x;}
.redline{width:8px;height:14px;display:inline-block;background-position:0 -70px;margin:10px 0 0 10px;float:left;overflow:hidden;}
.quality .factorytitle h2{float:left;font-size:14px;color:#333;font-weight:bold;margin-left:6px;width:800px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.quality .factorytitle h2 a:link{text-decoration:none;color:#333;}
.quality .factorytitle h2 a:visited{text-decoration:none;color:#333;}
.quality .factorytitle h2 a:hover{text-decoration:none;color:#f00;}
.quality .factorytitle span{width:50px;display:inline-block;float:right;}


.Mcontent{float:left;width:980px;margin:0 auto 5px auto;height:;clear:both;}
.Mcontent a:link,.Mcontent a:visited,.Mcontent a:active{color:#039;text-decoration:none;}
.Mcontent a:hover{color:#f00;text-decoration:none;}
.Mcontent .McontentL{float:left;width:234px;height:auto;padding:0px 0px;background:#fff;}
.Mcontent .McontentR{float:right;width:735px;height:auto;}
.Mcontent .McontentR .RLcontent_L{float:left;width:514px;height:auto;}
.Mcontent .McontentR .RLcontent_R{float:right;width:210px;height:auto;}
.Mcontent .McontentL .ML_bg{width:232px;height:auto;background:#FAFCFE;float:left;border-top:1px solid #CADCF0;border-left:1px solid #CADCF0;border-right:1px solid #CADCF0;margin-bottom:10px;}
.Mcontent .McontentL .ML_bg .ml_h2_2{height:274px}
.Mcontent .McontentL .ML_bg .Ltitle{width:232px;height:34px;padding:0;line-height:34px;background-position:0 -33px;background-repeat:repeat-x;float:left;border-bottom:1px solid #CADCF0}
.Mcontent .McontentL .ML_bg .bot_11{border-bottom:1px solid #d9d9d9;margin-bottom:4px;}
.Mcontent .McontentL .ML_bg .Ltitle h2{float:left;font-size:14px;color:#333;font-weight:bold;width:170px;margin-left:6px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.Mcontent .McontentL .ML_bg .Ltitle h2 strong{padding:0 0 0 5px; font-weight:bold;}
.Mcontent .McontentL .ML_bg .Ltitle h2 a:link,.Mcontent .McontentL .ML_bg .Ltitle h2 a:visited,.Mcontent .McontentL .ML_bg .Ltitle h2 a:active{color:#333;text-decoration:none;}
.Mcontent .McontentL .ML_bg .Ltitle h2 a:hover{color:#e61001;text-decoration:none;}
.Mcontent .McontentL .ML_bg .Ltitle h2.w150{width:150px;}
.Mcontent .McontentL .ML_bg .Ltitle h3{float:left;font-size:14px;color:#333;font-weight:bold;margin-left:8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.Mcontent .McontentL .ML_bg .Ltitle h3 strong{padding:0 0 0 5px;font-weight:bold;}
.Mcontent .McontentL .ML_bg .Ltitle h3 a:link,.Mcontent .McontentL .ML_bg .Ltitle h3 a:visited,.Mcontent .McontentL .ML_bg .Ltitle h3 a:active{color:#333;text-decoration:none;}
.Mcontent .McontentL .ML_bg .Ltitle h3 a:hover{color:#e61001;text-decoration:none;}
.Mcontent .McontentL .ML_bg .Ltitle h3.w150{width:150px;margin-left:0;}
.Mcontent .McontentL .ML_bg .Ltitle span{float:right;padding-right:5px}
.Mcontent .McontentL .ML_bg .Ltitle span em.morearrow{margin-right:0px;}
.Mcontent .McontentL .ML_bg .Ltitle span a{display:inline-block;float:left;text-align:right;}
.Mcontent .McontentL .ML_bg .Ltitle span a:link,.Mcontent .McontentL .ML_bg .Ltitle span a:visited,.Mcontent .McontentL .ML_bg .Ltitle span a:active{color:#039;text-decoration:none;}
.Mcontent .McontentL .ML_bg .Ltitle span a:hover{color:#f00;text-decoration:none;}
.Mcontent .McontentL .ML_bg dl{width:222px;height:auto;padding:5px;float:left;}
.Mcontent .McontentL .ML_bg dl dd{width:105px;text-indent:5px;line-height:26px;float:left;}
.Mcontent .McontentL .ML_bg dl.portalhotbrands dd{width:105px;text-indent:5px;height:26px;line-height:26px;float:left;overflow:hidden;}
.Mcontent .McontentL .ML_bg dl.portalhotbrands dd a:link,.Mcontent .McontentL .ML_bg dl.portalhotbrands dd a:visited{text-decoration:none;color:#039;}
.Mcontent .McontentL .ML_bg dl.portalhotbrands dd.portalhotbrands a:hover{text-decoration:none;color:#f00;}
.Mcontent .McontentL .ML_bg ul{width:222px;height:auto;padding:5px;float:left;}
.Mcontent .McontentL .ML_bg ul li{width:220px;padding:0 0 3px 0;text-indent:5px;height:26px;line-height:26px;text-indent:18px;background-position:7px -563px;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.Mcontent .McontentL .ML_bg ul li a:link,.Mcontent .McontentL .ML_bg ul li a:visited{text-decoration:none;color:#039}
.Mcontent .McontentL .ML_bg ul li a:hover{text-decoration:none;color:#f00;}
.Mcontent .McontentL .ML_bg ul li em{display:inline-block;width:10px;height:20px;background-position:-19px -130px;background-repeat:no-repeat;}
.Mcontent .McontentR .RLcontent_L .RL_content{width:514px;height:auto;float:left; margin:0 auto 10px;}
.Mcontent .McontentR .RLcontent_L .RLtitle{width:512px;height:34px;line-height:34px;border:solid 1px #CADCF0;background-position:0 -33px;float:left;background-repeat:repeat-x;}
.Mcontent .McontentR .RLcontent_L .RLtitle h2{float:left;font-size:14px;color:#333;font-weight:bold;margin-left:6px;width:398px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.Mcontent .McontentR .RLcontent_L .RLtitle h2 strong{padding:0;font-weight:bold;}
.Mcontent .McontentR .RLcontent_L .RLtitle h2 a:link,.Mcontent .McontentR .RLcontent_L .RLtitle h2 a:visited,.Mcontent .McontentR .RLcontent_L .RLtitle h2 a:active{color:#333;text-decoration:none;}
.Mcontent .McontentR .RLcontent_L .RLtitle h2 a:hover{color:#e61001;text-decoration:none;}
.Mcontent .McontentR .RLcontent_L .RLtitle span{width:55px;display:inline-block;float:right;}
.Mcontent .McontentR .RLcontent_L .RLtitle span em.morearrow{margin-right:0px;}
.Mcontent .McontentR .RLcontent_L .RLtitle span a{display:inline-block;float:left;text-align:right;}
.Mcontent .McontentR .RLcontent_L .RLtitle span a:link,.Mcontent .McontentR .RLcontent_L .RLtitle span a:visited,.Mcontent .McontentR .RLcontent_L .RLtitle span a:active{color:#039;text-decoration:none;}
.Mcontent .McontentR .RLcontent_L .RLtitle span a:hover{color:#f00;text-decoration:none;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder{width:512px;height:362px;border:solid 1px #CADCF0;border-top:none;float:left;padding:10px 0 6px 0;}
.Mcontent .McontentR .RLcontent_L .Rb_hei240{height:auto;}
.Mcontent .McontentR .RLcontent_L .Rb_hei220{height:auto;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg{width:500px;padding:0 0 0 8px;_padding:0 0 0 10px;float:left;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg li{width:142px;height:156px;padding:10px 0 10px 10px;float:left;margin-right:14px;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg li.mrightn0{margin-right:0;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg li .box130{display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:113.49px;*font-family:Arial;width:130px;height:130px;border:solid 1px #D8D8D8;background:#fff;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg li img{vertical-align:middle;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg li p{clear:both;width:132px;height:20px;overflow:hidden;margin:0;font-size:14px;padding:4px 0 0 0;text-align:center;line-height:20px}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg li p a:link{text-decoration:none;color:#039;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg li p a:visited{text-decoration:none;color:#039;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.newimg li p a:hover{text-decoration:none;color:#f00;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl{width:500px;float:left;margin-left:6px;_margin-left:3px;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl dt{float:left;line-height:28px;font-weight:bold;text-indent:4px;border-right:solid 1px #fff;color:#666;background:#F2F2F2;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl dd{float:left;line-height:28px;font-weight:bold;text-align:center;border-right:solid 1px #fff;color:#666;background:#F2F2F2;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .W60{width:80px;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .W70{width:98px;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .W110{width:110px;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .W200{width:225px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .W300{width:400px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl.newbuy_title{border-bottom:none;line-height:32px;padding:5px 0 0 0;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl.end_noborder{border-bottom:none;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_center{text-align:center;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_red{color:#e61001;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_gray{color:#666;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_red a:link,.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_red a:visited,.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_red a:active{color:#e61001;text-decoration:none;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_red a:hover{color:#e61001;text-decoration:none;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_gray a:link,.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_gray a:visited,.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_gray a:active{color:#e61001;text-decoration:none;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder dl .text_gray a:hover{color:#e61001;text-decoration:none;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.businesses{width:490px;margin:0 0 0 12px;_margin:0 0 0 6px;padding:0px;float:left;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.businesses a:link{text-decoration:none;color:#039;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.businesses a:visited{text-decoration:none;color:#039;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.businesses a:hover{text-decoration:none;color:#f00;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.businesses li{width:245px;float:left;margin:6px 0;padding:8px 0;overflow:hidden;font-size:14px;border-bottom:1px dashed #AFAFB0;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.businesses li.bornoe{border-bottom:none;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.businesses li p{width:245px;padding:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.Mcontent .McontentR .RLcontent_L .RLcontent_L_boder ul.businesses li span{width:234px;margin:0 auto;padding:0;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;color:#666;}
.Mcontent .McontentR .RLcontent_R .ML_bg{width:207px;height:auto;background:#fff;margin:0px auto 10px;float:left;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle{width:205px;height:22px;padding:0px;background-position:0 -33px;border:1px solid #CADCF0;line-height:34px;height:34px;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h2{float:left;font-size:14px;color:#333;font-weight:bold;margin-left:8px;width:135px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h2 strong{padding:0;font-weight:bold;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h2 a:link,
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h2 a:visited,
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h2 a:active{color:#333;text-decoration:none;}
.Mcontent .McontentL .ML_bg .Ltitle h2 a:hover{color:#e61001;text-decoration:none;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h2 a:link{color:#333;text-decoration:none;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h2 a:visited{color:#333;text-decoration:none;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h2 a:hover{color:#e61001;text-decoration:none;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h3{width:130px;float:left;font-size:14px;color:#333;font-weight:lighter;margin-left:8px;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h3 strong{padding:0 0 0 0px; font-weight:bold;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h3 a:link,.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h3 a:visited,.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h3 a:active{color:#333;text-decoration:none;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle h3 a:hover{color:#e61001;text-decoration:none;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle span{display:inline-block;float:right;padding-right:4px;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle span em.morearrow{margin-right:0px;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle span a{display:inline-block;float:left;text-align:right;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle span a:link,.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle span a:visited,.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle span a:active{color:#039;text-decoration:none;}
.Mcontent .McontentR .RLcontent_R .ML_bg .Ltitle span a:hover{color:#f00;text-decoration:none;}
.Mcontent .McontentR .RLcontent_R .RLcontent_R_boder{width:205px;height:358px;border:solid 1px #CADCF0;border-top:none;float:left;padding:10px 0 10px 0;}
.Mcontent .McontentR .RLcontent_R .RLR_h2{height:284px;padding:10px 0 6px 0;}
.Mcontent .McontentR .RLcontent_R .RLR_h3{height:220px;padding:10px 0 6px 0;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul{width:208px;height:auto;margin:0 auto;padding:0;float:left;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul li{width:180px;text-indent:5px;height:30px;line-height:30px;float:left;margin:0 0 0 10px;_margin:0 0 0 3px;overflow:hidden;white-space:inherit;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul li a:link{text-decoration:none;color:#039;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul li a:visited{text-decoration:none;color:#039;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul li a:hover{text-decoration:none;color:#f00;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul li em{display:inline-block;width:5px;height:20px;background-position:-19px -127px;background-repeat:no-repeat;float:left;margin-left:5px;overflow:hidden;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice{}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li{width:172px;float:left;margin:10px 0 5px 15px;_margin:8px 0 5px 8px;padding:0 0 10px 0;line-height:20px;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li p{width:172px;text-indent:15px;float:right;margin:0;padding:0;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li p strong{margin:0;padding:0;color:#e61001;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li a{display:inline-block;float:right;text-indent:0;width:100px;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price span{display:block;width:100px;height:40px;overflow:hidden;float:left;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price samp{display:block;padding:0 4px;float:left;line-height:18px;text-indent:0;text-align:center;background-color:#3B94E3;color:#fff;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price samp strong{color:#fff;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price{height:65px;border-bottom:dashed 1px #C5C5C5;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price div.firstprice_img{width:60px;height:60px;border:solid 1px #C5C5C5;margin:0 6px 0 0;padding:0;float:left;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price div.firstprice_img a{width:60px;height:60px;overflow:hidden;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price span a{text-align:left;text-indent:0;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price span a:link{text-decoration:none;color:#039;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price span a:visited{text-decoration:none;color:#039;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.first_price span a:hover{text-decoration:none;color:#f00;}
.Mcontent .McontentR .RLcontent_R .ML_bg ul.newprice li.bornone{border-bottom:none;}

ul.cgt_list{width:500px;height:auto;padding:0;margin-left:6px;float:left;}
ul.cgt_list li{margin:6px 0;width:500px;float:left;font-size:14px;height:30px;}
ul.cgt_list li.bgcol{background-color:#F5F5F5}
ul.cgt_list li .cgt_info_title{width:225px;text-indent:4px;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-right:1px solid #fff;line-height:28px;display:inline;}
ul.cgt_list li .cgt_price{width:80px;float:left;text-align:center;border-right:1px solid #fff;line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline;}
ul.cgt_list li .cgt_area{width:110px;float:left;text-align:center;border-right:1px solid #fff;line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline;}
ul.cgt_list li .cgt_quoted{width:80px;float:left;text-align:center;border-right:1px solid #fff;line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline;}
ul.cgt_list li a:link{color:#039;text-decoration:none;}
ul.cgt_list li a:visited{color:#039;text-decoration:none;}
ul.cgt_list li a:hover{color:#f00;text-decoration:none;}

.hot_e{width:23px;height:14px;display:inline-block;background-position:-213px -217px;margin:8px 0 0 3px;float:left;overflow:hidden;}
.new_e{width:23px;height:14px;display:inline-block;background-position:-213px -244px;margin:8px 0 0 3px;float:left;overflow:hidden;}
ul.bbs_list{width:500px;float:left;margin-left:6px;_margin-left:3px;padding:3px 0 0 0;}
ul.bbs_list a:link,ul.bbs_list a:visited{text-decoration:none;color:#039;}
ul.bbs_list a:hover{text-decoration:none;color:#f00;}
ul.bbs_list li{float:left;border-right:1px solid #fff;line-height:34px;font-size:14px;}
ul.bbs_list li.w1{width:400px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;text-indent:4px;}
ul.bbs_list li.w2{width:98px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;text-align:center;}
ul.bbs_list li.w3{width:98px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;text-align:center;border-right:none;}

.borboot{border-bottom:1px solid #CADCF0}

.secitem {
line-height: 28px;
padding-left: 15px;
padding-right: 15px;
}

.secitemp {
margin-bottom: 10px;
}
.secitem_p {
border-right: 0;
height: 32px;
white-space: nowrap;
} 

.secitem_p a {
color: #039;
padding: 0 10px;
height: 32px;
line-height: 32px;
border: 1px solid #e6e6e6;
margin-right: 0;
margin-bottom: 2px;
min-width: 60px;
text-align: center;
float:left;
display: block;
}

.secitem_p a:hover {
background: #4598D2;
color: #fff;
line-height: 32px;
}

.secitem dt {
float: left;
display: inline;
width: 50px;
text-align: right;
}
.secitem dd {
width: 870px;
float: left;
display: inline;

}
.secitem_p_m {
line-height: 32px;
border: 1px solid #e6e6e6;
border-top: 0;
}

.filter-panel {
	position:static;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border:none;
}

.research{
	line-height: 28px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
}

.research dt{
    float: left;
	display: inline;
	width: 75px;
	text-align: right;
}

.research dd {
	float: left;
	display: inline;
}

.research_p {
height: 32px;
white-space: nowrap;
} 

.research_p a {
color: #039;
padding: 0 10px;
height: 32px;
line-height: 28px;
margin-right: 0;
min-width: 60px;
text-align: center;
float:left;
display: block;
}

.list-content{
    clear:both;   
}

.list-content .list-item{
    height:165px;
    width: 980px;
    padding: 14px 0 0;
}

.list-content .list-item li {
float: left;
list-style: none;
}

.list-content li.list-img {
position: relative;
margin-right: 14px;
padding-bottom: 20px;
margin-top: 5px;
}

.list-content li.list-img a {
display: block;
width: 70px;
height: 70px;
vertical-align: middle;
line-height: 70px;
font-size: 0;
text-align: center;
border: 1px solid #e6e6e6;
background: white;
text-decoration: none;
}

.list-content li.list-img a img{
vertical-align: middle;
}

.list-content li.list-info{
width: 333px;
height: 100%;
position: relative;
margin-top: 2px;
}

.list-content li.list-info h4{
font-size: 14px;
line-height: 24px;
height: 24px;
overflow: hidden;
}

.list-content li.list-info h4 .shop-name {
white-space: nowrap;
text-overflow: ellipsis;
max-width: 210px;
overflow: hidden;
margin-right: 10px;
display: inline-block;
color: #0063dc;
}
.seller-rank-16 {
background-position: 0 -100px;
width: 17px;
}
.list-item .list-info .rank, .search-shop .rank {
vertical-align: top;
margin-top: 4px;
}

.list-item .list-info .rank {
padding: 0!important;
display: inline-block;
width: 0;
height: 16px;
vertical-align: text-top;
text-indent: -999em;
overflow: hidden;
background: url(http://img01.taobaocdn.com/tps/i1/T1zihIXkxyXXXXXXXX.png) repeat-x scroll -999em -999em transparent;
}

.list-content li.list-info p{
line-height: 21px;
height: 21px;
width: 320px;
overflow: hidden;
padding-top: 3px;
}

.list-content li.list-info p label {
display: block;
float: left;
margin-right: 1px;
width: 31px;
}

.list-content li.list-info p.main-cat a {
width: 267px;
display: inline-block;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
color: #0063dc;
}

.list-info .promotion {
padding-left: 10px;
margin: 1px 0;
}

.list-info .promotion span {
float: left;
height: 15px;
line-height: 15px;
margin-right: 4px;
margin-top: 1px;
}

.promotion .multiple {
background-color: #fef6f2;
color: #f77839;
border: 1px solid #f9c291;
height: 22px;
}

.list-info .promotion span.multiple em {
display: inline-block;
}

.list-info .promotion span em {
color: #555354;
display: block;
padding: 0 5px;
white-space: nowrap;
background-position: right -22px;
}

.list-info .promotion span em.free-mail {
color: #f77839;
}

.valuation {
width: 353px;
height: 28px;
line-height: 28px;
margin-top: 10px;
position: relative;
margin-left: -80px;
z-index: 3;
}

.descr, .good-comt {
float: left;
padding-right: 9px;
width: 97px;
height: 28px;
}
.descr {
background: url(http://img01.taobaocdn.com/tps/i1/T1ttE2XfxbXXaBdI_r-91-67.png) no-repeat 1px -16px;
width: 80px;
height: 14px;
line-height: 14px;
margin-top: 8px;
text-align: right;
padding-right: 12px;
font-family: Aria;
}

.list-content li.list-info .icon-list{
margin-left: 10px;
float: left;
margin-right: 10px;
padding: 3px 0 3px 5px;
}

.icon-list a {
float: left;
margin-right: 4px;
padding: 2px 0 2px 5px;
}
.icon-list a span {
display: block;
width: 16px;
height: 16px;
overflow: hidden;
cursor: pointer;
text-indent: -999em;
background-image: url("http://img03.taobaocdn.com/tps/i3/T1jq6YXalbXXX0gjHb-99-1013.png");
background-repeat: no-repeat;
}
.icon-list a.xb-as-fact span {
background-position: -51px 0;
}

.icon-list a.xb-sevenday-return span {
background-position: -35px 0;
}


.list-content li.list-info .shop-info {
position: absolute;
right: 40px;
height: 56px;
top: 86px;
}

.shop-address {
margin-left: 10px;
float: right;
margin-bottom: 13px;
display: block;
height: 22px;
line-height: 22px;
}

.list-content li.list-info .shop-info-list {
float: right;
clear: right;
}
.ww-light a {
background: url(http://img04.taobaocdn.com/tps/i4/T1UPFAXnNfXXXXXXXX-130-60.gif) no-repeat 0 0;
text-decoration: none!important;
width: 20px;
height: 20px;
zoom: 1;
}

.ww-light a span {
display: none;
}
.ww-small .ww-online {
background-position: -80px 0;
}
.ww-inline {
display: inline-block;
vertical-align: text-bottom;
}

.item-bottom {
height: 32px;
width: 520px;
margin-left: 420px;
line-height: 32px;
position: relative;
margin-bottom: 10px;
}
.pro-sale-num {
color: #888;
margin-left: -414px;
position: absolute;
}

.pro-sale-num em {
color: #676666;
font-weight: bold;
}

.shop-sign {
max-width: 173px;

}
.shop-news {
max-width: 235px;
_width: 235px;
padding-left: 15px;
margin-left: 8px;
background: url(http://img02.taobaocdn.com/tps/i2/T1gvk7XoJfXXbZe.E_-11-13.png) no-repeat 0 10px;
}
.shop-news, .shop-sign {
color: #a5a5a5;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
display: inline-block;
position: relative;
}

.list-content .list-item li, .search-shop li {
float: left;
}
.shop-products {
width: 527px;
height: 122px;
overflow: hidden;
position: relative;
margin-right: -25px;
}

.product-img {
border: 1px solid #e6e6e6;
width: 120px;
height: 120px;
}
.price-wrap {
height: 20px;
width: 110px;
overflow: hidden;
margin-top: -20px;
padding-left: 11px;
position: relative;
z-index: 1;
}
.shop-products .one-product {
float: left;
margin-right: 13px;
}

.price-wrap-shade {
position: absolute;
width: 120px;
height: 20px;
top: -1px;
left: 1px;
background: #fff;
opacity: .95;
filter: alpha(opacity=95);
zoom: 1;
z-index: -1;
}

.price-wrap .price-num {
height: 18px;
line-height: 18px;
}

.related-shop-new {
border: 1px solid #ddd;
color: #565656;
position: absolute;
right: 0;
margin-right: -5px;
height: 19px;
line-height: 19px;
margin-top: 11px;
padding: 0 8px;
border-bottom-color: #c5c5c5;
background-color: #f7f7f7;
}

.list-item .list-info .mall-icon{
display: inline-block;
height: 12px;
text-indent: -999em;
width: 83px;
vertical-align: top;
margin-top: 5px;
background: url("http://img03.taobaocdn.com/tps/i3/T1jq6YXalbXXX0gjHb-99-1013.png") no-repeat 0 -923px;
}

.rent_hide{
display:none;
}

#J_Popup-dsr {
position: absolute;
left: 30px;
top: 30px;
}

.popup-wrap {
padding: 6px 8px;
border-radius: 2px;
background-color: white;
box-shadow: 2px 2px 3px #ccc;
border: 1px solid #aaa;
}
.popup-shopinfo .bd {
overflow: hidden;
zoom: 1;
display: block;
}

.popup-shopinfo .shop-mark {
width: 100px;
float: left;
white-space: nowrap;
}
.popup-shopinfo .bd li {
margin-top: 3px;
margin-bottom: 3px;
}
.popup-shopinfo .shop-mark a {
color: #0063dc;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
.popup-shopinfo .shop-avg {
width: 100px;
float: left;
}
.popup-shopinfo .lessthan {
color: #20730f;
}
.popup-shopinfo .lessthan em {
background-color: #20730f;
color: #fff;
}

.popup-shopinfo .morethan, .popup-shopinfo .equalthan {
color: #b30f00;
}
.filterbar-fix{
	position: fixed;
	top: 0;
	z-index: 10000;
}
/* 修正IE6振动bug */
*html,*html body{
	background-image:url(about:blank);background-attachment:fixed;
}
*html .filterbar-fix{
	position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop));
}
.filterbar .price{
	position: relative;
	width: 110px;
	height: 24px;
	margin-left: 18px;
	float: right;
	z-index: 2500;
}
.filterbar .price .focus{
	border:1px solid #d9d9d9;
	border-top: none;
	background:#FFf;
	padding: 0 5px 2px;
	position:absolute;
	width:110px;
	top:0;
	left:-6px;
	z-index:2500;
	box-shadow:-1px 3px 2px rgba(218,218,218,0.5);
}
.filterbar .price label {
	height: 24px;
	line-height: 24px;
}
.filterbar .price input {
	width: 32px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #DDD;
	color: #333;
	_margin-top: 7px;
}
.filterbar .price .normal .btn-area {
	display: none;
}
.filterbar .price .focus .btn-area {
	float: right;
	line-height: 30px;
}
.filterbar .custom-btn {
	box-sizing: content-box;
	border: 1px solid #e0e0e0;
	display: inline-block;
	margin-bottom: 0;
	padding: 0 10px;
	width: auto;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f4f4f4;
	background-image: -moz-linear-gradient(top,#fff,#f7f7f7);
	background-image: -ms-linear-gradient(top,#fff,#f7f7f7);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f7f7f7));
	background-image: -webkit-linear-gradient(top,#fff,#f7f7f7);
	background-image: -o-linear-gradient(top,#fff,#f7f7f7);
	background-image: linear-gradient(top,#fff,#f7f7f7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F7F7F7',GradientType=0);
}
.filterbar .price .custom-btn {
	height: 21px;
	line-height: 21px;
	margin-top: 4px;
}
.rankbar .sorting{
	float: right;
	margin-left: 18px;
}
.filterbar .custom-btn {
	line-height: 24px;
	font-size: 12px;
	cursor: pointer;
}
.filterbar .from-area{
	float: right;
	line-height: 1.5em;
	margin-top: 5px;
	margin-left: 18px;
}
.filterbar h3 .custom-btn {
	_padding-right: 18px;
	_position: relative;
}
.filterbar .from-area .custom-btn {
	background: #fff;
	border: 1px solid #e0e0e0;
	height: 24px;
	line-height: 24px;
}
.filterbar .from-area.menu-open .custom-btn{
	border-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.from-area-icon {
	background: url(http://img03.taobaocdn.com/tps/i3/T1_.3qXkpgXXaOFYv8-48-198.png);
	background-image: -webkit-image-set(url(http://img03.taobaocdn.com/tps/i3/T1_.3qXkpgXXaOFYv8-48-198.png) 1x,url(http://img02.taobaocdn.com/tps/i2/T1QOoJXhVcXXXVYO2k-96-396.png) 2x);
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 12px;
	width: 8px;
	margin-left: 5px;
}
.filterbar .icon-arrow {
	background-position: 0 -25px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src='http://img03.taobaocdn.com/tps/i3/T1AnEyXhxcXXcdXhPr-7-4.png');
	_background-image: none;
	_position: absolute;
	_top: 10px;
	_right: 6px;
}
.filterbar .menu-open h3 {
	border-bottom: 0;
	display: block;
	position: relative;
}
.filterbar .menu-open .icon-arrow {
	background-position: -9px -25px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src='http://img02.taobaocdn.com/tps/i2/T1UVsyXi8fXXcdXhPr-7-4.png');
	_background-image: none;
}
.filterbar .border-overlay {
	display: none;
}
.filterbar .menu-open .border-overlay {
	display: block;
	width: 100%;
	position: absolute;
	bottom: -1px;
	border-left: 1px solid #e0e0e0;
	left: 0;
	z-index: 2501;
	height: 1px;
	padding: 0;
	background: #fff;
	overflow: hidden;
	_display: none;
}
.filterbar .panel {
	display: none;
}
.filterbar .menu-open .panel {
	z-index: 2500;
	display: block;
	position: relative;
	width: auto;
}
.filterbar .menu-open .panel-content {
	width: 100px;
	padding: 5px 0 5px 8px;
	margin-left: 0;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	background: #FFF;
	border: 1px solid #d9d9d9;
	box-shadow: -1px 3px 2px rgba(218,218,218,0.5);
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.filterbar .from-area .panel-content {
	width: 336px;
}
.storelist{
	list-style: none;
	padding-bottom: 5px;
}
.storelist li{
	float: left;
	height: 22px;
	line-height: 22px;
	margin-right: 10px;
	width: 158px;
}
.storelist li a{
	color: #333;
	text-decoration: none;
}
.storelist span.amount {
	margin-left: 3px;
}
.other-filters{
    float: right;
    margin-left: 18px;
}
.other-filters .checkbox{
	margin-right: 5px;
}
.other-filters .checkbox .icon-checkbox{
	margin-right: 2px;
}
.noresult-keyword {
padding: 60px 0 35px 0;
color: #33394b;
margin: 0;
}
.noresult-keyword .noresult-text {
background-image: url(http://img03.taobaocdn.com/tps/i3/T1KJE0Xd0dXXbe.mPe-40-40.png);
background-image: -webkit-image-set(url(http://img03.taobaocdn.com/tps/i3/T1KJE0Xd0dXXbe.mPe-40-40.png) 1x,url(hhttp://img04.taobaocdn.com/tps/i4/T1uFA0XfBdXXcKi4fo-80-80.png) 2x);
background-position: 0 5px;
background-repeat: no-repeat;
padding: 0 0 0 60px;
color: #999;
line-height: 24px;
width: 660px;
margin: auto;
}
.noresult-keyword .noresult-text .interjection {
font-size: 18px;
color: #33394b;
margin: 0 0 25px 0;
}