pre{
	background: #ddd;
	padding: 20px 30px;
	width: 600px;
}

h3, h4, ol, ul{
	margin: 0;
	padding: 0;
}
.comment{
	background: #AAEB9C;
	padding: 10px 15px;
	margin-top: 100px;
	width: 500px;
}
.comment .title{
	margin-bottom: 10px;
}
.comment h4{
	font-size: 14px;
	font-weight: 700;
}
.comment .des{
	font-size: 14px;
}
.comment .des li{
	margin:8px 0 8px 50px;
}
.pre{
	background:#272822;
	border-radius: 5px;
	color: #fff;
	padding: 10px 15px;
	letter-spacing: 1px;
	margin: 10px auto;
	white-space: pre;
}
.pre b{
	color: red;
}